table.center {
    margin-left: auto;
    margin-right: auto;
}
#stock-data, #crypto-data {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.modal-card-body .modal-input{
    width: 80%;
}
.hidden {
    display: none;
}